.presentation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation {
  position: relative;
  top: -5em;
  width: 80%;
  max-width: 800px;
  padding: 0.75em;
  padding-top: 0;
  border-radius: 20px;
  background-color: rgb(from var(--background) r g b / 0.3);
  box-shadow: var(--primary) 0 0 92px -28px;
  backdrop-filter: blur(5px);
}

.description {
  text-align: center;
  .title {
    font-size: 1.5em;
    font-weight: 550;
    margin: 1em 0;
  }
  div {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: var(--secondary);
      bottom: 0;
      left: 50%;
      width: 20%;
      height: 0.08em;
      transform: translate(-50%, 0.4em);
    }
  }

  span {
    font-size: 1em;
    color: var(--text3);
  }
}

@media screen and (max-width: 500px) {
  .presentation {
    width: 100%;
  }
}
