.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
}

.introduction > div {
  width: min-content;
}

.introduction-name {
  text-transform: uppercase;
  font-size: 3em;
}

button {
  margin-top: 5%;
  height: 2.5em;
  width: 50%;
  font-size: 0.8em;
  color: var(--background2D);
  border: none;
  border-radius: 1em;
  background-color: var(--primary);
  cursor: pointer;
  transition: transform 0.1s;
  box-shadow: 0 0 10px var(--primary);
}

button:hover {
  transform: translateY(-5px);
}
