.container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: orbit-animation var(--duration) infinite linear;
}

.satellite {
  position: absolute;
  top: 50%;
  left: var(--offset);
  width: var(--diameter);
  aspect-ratio: 1;

  animation: face-user var(--duration) infinite linear;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2 * var(--offset) + var(--diameter) + 2px);
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
}

.orbit::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(to top right, var(--color) 10%, transparent 25%)
    border-box;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

@keyframes orbit-animation {
  from {
    transform: rotateX(70deg) rotateZ(0turn);
  }
  to {
    transform: rotateX(70deg) rotateZ(1turn);
  }
}

@keyframes face-user {
  from {
    transform: rotateX(-90deg) translate(-100%, 0%) rotateY(-1turn);
  }
  to {
    transform: rotateX(-90deg) translate(-100%, 0%) rotateY(0turn);
  }
}
