/* .contact {
  width: min(100%, 60em);
  margin: auto;
  padding: 0.75em;
  text-align: center;
}

.my-form {
  width: 100%;
  max-width: 50em;
  display: grid;
  justify-items: center;
  gap: 1em;
  padding: 1em;
  margin: auto;
  margin-top: 2em;
  border-radius: 20px;
  background-color: var(--background_dark);
  box-shadow: 0 0 50px -10px rgb(from var(--primary) r g b / 0.5);
}

.form-components {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  & > div {
    display: flex;
    flex-wrap: wrap;
    min-height: 2em;
  }
  label {
    text-align: left;
    min-width: 150px;
  }

  input,
  textarea {
    flex-grow: 1;
    border: none;
    border-bottom: solid 0.1em var(--secondary_dark);
    background-color: var(--background);
    transition: all 0.1s;
    &:focus {
      outline: none;
      border-color: var(--secondary);
    }
  }
}

.send-button {
  width: 50%;
  min-width: 5em;
  max-width: 20em;
  background-color: var(--background);

  border: 0.1em solid var(--accent);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: var(--accent);
    box-shadow: 0 0 10px var(--accent);
  }
}

.message {
  resize: vertical;
  min-height: 2em;
  max-height: 10em;
} */

.contact {
  width: min(100%, 60em);
  margin: auto;
  padding: 0.75em;
  text-align: center;
}

.my-form {
  max-width: 50em;
  padding: 1em;
  margin: auto;
  margin-top: 2em;
  border-radius: 20px;
  background-color: var(--background_dark);
  box-shadow: 0 0 50px -10px rgb(from var(--primary) r g b / 0.5);
}

.form-components {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  column-gap: 1em;

  label {
    text-align: left;
    min-width: 150px;
  }

  input,
  textarea {
    min-height: 2em;

    border: none;
    border-bottom: solid 0.1em var(--secondary_dark);
    margin-bottom: 1em;
    background-color: var(--background);
    transition: all 0.1s;
    &:focus {
      outline: none;
      border-color: var(--secondary);
    }
  }
}

.send-button {
  width: 30%;
  min-width: 5em;
  max-width: 20em;
  background-color: var(--background);

  border: 0.1em solid var(--accent);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: var(--accent);
    box-shadow: 0 0 10px var(--accent);
  }
}

.message {
  resize: vertical;
  max-height: 10em;
}

@media screen and (max-width: 400px) {
  .form-components {
    grid-template-columns: 1fr;
  }
}
