.contact {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60%;
  h1 {
    text-align: center;
  }
}

.my-form {
  width: 100%;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: rgb(from var(--background3D) r g b / 0.9);
  border-radius: 1em;
  box-shadow: 0 0 2em 0.5em rgb(from var(--primary) r g b / 0.5);
  padding: 1%;
}

.form-grid {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 20% auto;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr)) 10em;
  gap: 1em 0em;
  input,
  textarea {
    min-height: 2em;
    font-size: 1.1em;
    border: none;
    border-bottom: solid 0.1em var(--accent);
    background-color: var(--background2D);
    transition: all 0.1s;
    &:focus {
      outline: none;
      border-color: var(--primary);
    }
  }
}

.send-button {
  min-height: 2em;
  width: 50%;
  min-width: 5em;
  max-width: 20em;
  background-color: rgb(from var(--background2D) r g b / 0.4);
  font-size: 1em;

  border: 0.1em solid var(--primary);
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
  }
}

.message {
  align-self: stretch;
  grid-column: span 2;
  resize: vertical;
  max-height: 10em;
}

.astronaut {
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: -1;
  transform: translate(-50%, -50%);

  height: 100%;

  img {
    object-fit: contain;
    height: 100%;
    aspect-ratio: 1;
    mask-image: radial-gradient(white 40%, transparent 50%);
  }
}
