.container {
  display: flex;
  justify-content: center;
  min-height: var(--minHeight);
  max-height: calc(100cqh - 4em);
  position: relative;
  &::before {
    content: "";
    background-image: url("./Hero_images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100cqw;
    height: 100%;

    z-index: -1;
  }
}

.hero-section {
  width: 100cqw;
  overflow: hidden;
}
.hero-section > div {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1500px;
  height: 100%;
}

/*Format mobile */
@media screen and (max-width: 600px) {
  .hero-section > div {
    flex-direction: column;
    text-align: center;
    padding-top: var(--paddingTop);
  }

  .hero-section > div button {
    padding: 0;
  }

  .container {
    height: fit-content;
    min-height: var(--minHeightMobile);
  }
}
