.introduction {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.3em;
}

.introduction > div {
  width: min-content;
}

.introduction-name {
  text-transform: uppercase;
  font-size: 3em;
}
