.skills {
  display: grid;
  gap: 0.75em;
  grid-template-areas:
    "backend backend backend"
    "mobile title threeD"
    "mobile title threeD"
    "mobile frontend frontend";

  & > * {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.25em 0.75em;
    border-radius: 0.75em;
    background-color: var(--background_dark);
  }
}

@media screen and (max-width: 1100px) {
  .title {
    width: fit-content;
    padding: 0;
  }
  .skills {
    grid-template-areas:
      "title title title title"
      "backend backend backend backend"
      "mobile threeD threeD threeD"
      "mobile threeD threeD threeD"
      "mobile frontend frontend frontend";
  }
}

@media screen and (max-width: 700px) {
  .skills {
    grid-template-areas:
      "title"
      "backend"
      "threeD"
      "mobile"
      "frontend";
  }
}

.title {
  width: 100%;
  grid-area: title;
  background: linear-gradient(
    to bottom right,
    var(--color1) 20%,
    var(--color2) 40%,
    var(--color3) 60%,
    var(--color4) 80%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 150%;
    transform: translate(-50%, 0);

    background: linear-gradient(
          to right,
          var(--background_dark),
          var(--background),
          var(--background_dark)
        )
        padding-box,
      radial-gradient(var(--primary) 60%, var(--secondary_dark)) border-box;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}
