.skills {
  display: grid;
  gap: 0.5em;
  grid-template-areas:
    "backend backend backend"
    "mobile title threeD"
    "mobile title threeD"
    "mobile frontend frontend";

  & > * {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.25em 0.75em;
    border-radius: 0.75em;
    background-color: var(--background2);
  }
}

@media screen and (max-width: 1100px) {
  .title {
    width: fit-content;
  }
  .skills {
    grid-template-areas:
      "title title title title"
      "backend backend backend backend"
      "mobile threeD threeD threeD"
      "mobile threeD threeD threeD"
      "mobile frontend frontend frontend";
  }
}

@media screen and (max-width: 700px) {
  .skills {
    grid-template-areas:
      "title title title title"
      "backend backend backend backend"
      "threeD threeD threeD threeD"
      "mobile mobile mobile mobile"
      "frontend frontend frontend frontend";
  }
}

.title {
  grid-area: title;
  background: linear-gradient(
    to bottom right,
    var(--color1) 20%,
    var(--color2) 40%,
    var(--color3) 60%,
    var(--color4) 80%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
}
