.cta,
.cta2 {
  transition: all 0.3s;
}

button {
  padding: 0.5em 1em;
}

.cta {
  backdrop-filter: blur(2px);
  border: solid 1px transparent;
  box-shadow: 0 0 16px -4px var(--accent);

  background: var(--accent);
  color: var(--background);

  &:hover {
    box-shadow: 0 0 24px 0px var(--accent);

    color: var(--accent);
    background: var(--background_dark);
    border: solid 1px var(--accent);
  }
}

.cta2 {
  position: relative;
  height: fit-content;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;

    height: 2px;
    width: 20%;
    background: var(--accent);

    transition: 0.3s;
  }
  &:hover::before {
    width: 80%;
  }
}
