.content {
  display: grid;
  justify-items: center;
  gap: 8em;
  &::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: radial-gradient(
        rgb(from var(--accent) r g b / 0.4) 0.08em,
        transparent 0.08em
      ),
      radial-gradient(
        rgb(from var(--secondary) r g b / 0.7) 0.08em,
        var(--background2D) 0.08em
      );
    background-size: 1.5em 1.5em;
    background-position: 0 0, 0.75em 0.75em;
    mask-image: radial-gradient(white, transparent 100%);
    z-index: -1;
  }
}

.content > section {
  width: 96%;
  max-width: 1500px;
  min-height: calc(100cqh);
  padding: 0 3%;
  scroll-snap-align: center;
}

@media screen and (min-width: 1300px) {
  .content {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1300px) {
  .content {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .content {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .content {
    font-size: 0.7rem;
  }
}
