.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--background);
    /* background-image: url(./pattern.svg);
    mask-image: radial-gradient(circle, #000000bd, #00000013 90%); */
    z-index: -1;
  }
  & > section:not(:first-child) {
    width: 100%;
    max-width: 1200px;
    padding: 0 0.75em;
  }
}
