.skills {
  display: flex;
  width: 100%;
}

.skill-container {
  position: relative;
  width: 100%;
  min-height: 1000px;
}

.blob-container {
  height: 100%;
  filter: blur(1.5em) contrast(30);
}

.main-blob,
.sub-blob {
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 0 0 1em #f2f2f2;
}

.main-blob,
.sub-blob,
.main-skill,
.sub-skill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  max-width: 200px;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
}

.sub-blob {
  display: none;
}

.main-skill,
.sub-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}

.sub-skill {
  opacity: 0;
}

.reveal {
  display: flex;
  animation: moving 0.8s ease-in-out forwards;
}

@keyframes moving {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(
      calc(-50% + var(--offsetX)),
      calc(-50% + var(--offsetY))
    );
    opacity: 1;
  }
}
