.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-container {
  width: 100%;
  max-width: 30cqw;
  position: relative;
}

.blob-container {
  min-height: min(1100px, 90cqw);
  filter: blur(1.5em) contrast(30);
}

.animated-blob2,
.animated-blob1,
.main-blob,
.sub-blob,
.main-skill,
.sub-skill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
}

.main-blob,
.main-skill {
  max-width: 200px;
}

.animated-blob2,
.animated-blob1 {
  width: 20%;
  max-width: 5.4em;
  transform-origin: 0% 0%;
  animation: shape-transformation 6s infinite linear;
}

.animated-blob2 {
  animation: shape-transformation 5s infinite linear reverse;
}

@keyframes shape-transformation {
  0% {
    transform: rotate(var(--rotationStart));
  }

  50% {
    transform: rotate(160deg);
  }

  100% {
    transform: rotate(calc(var(--rotationStart) + 360deg));
  }
}

.animated-blob2,
.animated-blob1,
.main-blob,
.sub-blob {
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 0 0 1em #f2f2f2;
}

.sub-blob {
  display: none;
  pointer-events: none;
}

.main-skill,
.sub-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-skill {
  opacity: 0;
  pointer-events: none;
  color: var(--textColor);
}

.reveal {
  display: flex;
  animation: moving 0.8s ease-in-out forwards;
}

@keyframes moving {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(
      calc(-50% + var(--offsetX)),
      calc(-50% + var(--offsetY))
    );
    opacity: 1;
  }
}

.picker {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  padding: 0 20%;

  .root-skill {
    position: absolute;
    top: var(--offsetY);
    left: var(--offsetX);
    transform: translate(-50%, -50%);
    width: min-content;
    &:hover {
      cursor: pointer;
      color: rgb(from var(--primary) r g b / 0.8);
    }
  }

  .title {
    color: rgb(from var(--textColor) r g b / 0.7);
  }
}
