.project {
  display: inline-block;
  aspect-ratio: 4/2;
  position: relative;
  width: 20%;
  min-width: 20em;
  border: #ffffff solid 0.1em;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
  backdrop-filter: blur(2px);
}

.project img {
  height: 100%;
  max-width: 100%;
  filter: brightness(0.7);
  transition: filter 0.5s, scale 0.8s, border-color 0.5s;
}

.project-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.project:hover {
  cursor: pointer;
  border-color: var(--primary);
  .grid-item-text {
    display: none;
  }
  img {
    scale: 1.2;
    filter: brightness(1);
  }
}
