.projects {
  max-width: 1300px;
}

.row {
  overflow-x: auto;
  white-space: nowrap;
}

.row > div:not(:first-child) {
  margin-left: 2em;
}

.row::-webkit-scrollbar {
  height: 0.5em;
}

.row::-webkit-scrollbar-track {
  background: transparent;
}

.row::-webkit-scrollbar-thumb {
  background-color: rgb(from var(--secondary) r g b / 0.3);
  border-radius: 1em;
}

.modal-on {
  position: fixed;
  top: 50cqh;
  left: 50cqw;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  scale: 1;
  transition: scale 500ms;
}

.modal-on-background {
  position: fixed;
  inset: 0;
  opacity: 0.6;
  background-color: black;
  transition: opacity 500ms;
}

.modal-off {
  scale: 0;
}

.modal-off-background {
  opacity: 0;
}
