.projects {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10em; */
}

.row {
  overflow-x: auto;
  white-space: nowrap;
}

.row > div:not(:first-child) {
  margin-left: 2em;
}

.row::-webkit-scrollbar {
  height: 0.5em;
}

.row::-webkit-scrollbar-track {
  background: rgb(from var(--accent) r g b / 0.4);
}

.row::-webkit-scrollbar-thumb {
  background-color: rgb(from var(--primary) r g b / 0.8);
  border-radius: 1em;
}

.modal-on {
  position: fixed;
  width: 94%;
  max-width: inherit;
  top: 50cqh;
  left: 50cqw;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  scale: 1;
  transition: scale 500ms;
}

.modal-on-background {
  position: fixed;
  inset: 0;
  opacity: 0.6;
  background-color: black;
  transition: opacity 500ms;
}

.modal-off {
  position: absolute;
  scale: 0;
}

.modal-off-background {
  position: absolute;
  opacity: 0;
}
