.computer,
.computer-focused {
  overflow-x: hidden;
  container-type: size;
  background-color: var(--background2D);
}

.computer {
  width: 300px;
  height: 200px;
  font-size: 0.3rem;
  scrollbar-width: thin;
}

.computer-focused {
  height: 100dvh;
  width: 100dvw;
}

.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  box-shadow: inset 0px 0px 19px 10px rgb(40 40 40);
  z-index: 1;
}

.content {
  display: grid;
}

.content > * {
  position: relative;
  top: -4em;
}

@media screen and (min-width: 1300px) {
  .computer-focused {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1300px) {
  .computer-focused {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .computer-focused {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  .computer-focused {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .computer-focused {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 400px) {
  .computer-focused {
    font-size: 0.6rem;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://www.transparenttextures.com/patterns/stardust.png")
    repeat;
  animation: moveStars 200s linear infinite;
}

.nebula {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 0.2),
    rgba(252, 70, 107, 0.2)
  );
  mix-blend-mode: screen;
}

.code-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 2px
    );
  mix-blend-mode: overlay;
  opacity: 0.3;
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 10000px;
  }
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 20%;
}

h1 {
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}
