.mainNavItem {
  display: flex;
  max-width: 700px;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text3);

  & > * {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      color: var(--accent_dark);
    }
  }
}

/* .progress {
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: #fff;
  top: 0;
  left: 0;
  animation: progress 1s linear;
  animation-timeline: scroll();
}

@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
} */
