.item-0,
.item-1,
.item-2,
.item-3 {
  animation-timeline: scroll();
}

.item-0 {
  animation-name: highlightItem0;
}

.item-1 {
  animation-name: highlightItem1;
}

.item-2 {
  animation-name: highlightItem2;
}

.item-3 {
  animation-name: highlightItem3;
}

@keyframes highlightItem0 {
  0% {
    color: var(--accent);
  }
  20% {
    color: var(--accent);
  }
  21% {
    color: var(--text);
  }
}

@keyframes highlightItem1 {
  20% {
    color: var(--text);
  }
  21% {
    color: var(--accent);
  }
  50% {
    color: var(--accent);
  }
  51% {
    color: var(--text);
  }
}

@keyframes highlightItem2 {
  50% {
    color: var(--text);
  }

  51% {
    color: var(--accent);
  }

  90% {
    color: var(--accent);
  }

  91% {
    color: var(--text);
  }
}

@keyframes highlightItem3 {
  90% {
    color: var(--text);
  }
  91% {
    color: var(--accent);
  }
  100% {
    color: var(--accent);
  }
}
