.center {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  height: 4em;
  width: 100%;
  min-width: 300px;

  background: rgb(from var(--background) r g b / 0.3);
  backdrop-filter: blur(5px);
  & > :last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  & > :first-child,
  & > :last-child {
    max-width: 200px;
    cursor: pointer;

    &:hover {
      border-color: var(--accent);
      box-shadow: 0 0 12px var(--accent);
    }
  }

  & > :not(:first-child):not(:last-child) :hover {
    color: rgb(from var(--accent) r g b / 0.8);
  }
}

.navBar {
  display: flex;
  max-width: 700px;
  flex: 2;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text3);

  & > * {
    cursor: pointer;
  }
}

.navItem {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: rgb(from var(--background_dark) r g b / 0.5);

  color: var(--text);
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
}
