.navBar {
  position: fixed;
  top: 0;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px min(5%, 32px);

  z-index: 10;
  background: rgb(from var(--background) r g b / 0.3);
  backdrop-filter: blur(5px);
}

.cv {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  border-radius: 20px;
  border: solid 1px rgb(from var(--accent) r g b / 0.75);
  box-shadow: 0 0 20px -8px var(--accent);

  cursor: pointer;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    box-shadow: 0 0 20px 0 var(--accent);
  }
}
