.navBar {
  position: fixed;
  top: 0;
  height: 4em;
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
  background: rgb(from var(--background) r g b / 0.3);
  backdrop-filter: blur(5px);

  & > :first-child,
  & > :last-child {
    max-width: 200px;
    cursor: pointer;

    &:hover {
      border-color: var(--accent);
      box-shadow: 0 0 12px var(--accent);
    }
  }

  & > :not(:first-child):not(:last-child) :hover {
    color: rgb(from var(--accent) r g b / 0.8);
  }
}
