.contact {
  width: min(100%, 800px);
  margin: auto;
  padding: 0.75em;

  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.my-form {
  display: grid;
  gap: 1em;
  max-width: 800px;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  border-radius: 8px;
  background-color: var(--background_light);
  transition: 0.3s;

  & > * {
    gap: 1em;
  }

  &:has(.send-button:hover) {
    animation: rotateColor 0.5s infinite alternate;
  }
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex: 1;
  }
}

.send-button {
  width: fit-content;
  background: var(--accent);
  border: solid 1px var(--background_dark);
  color: var(--background);
  transition: 0.3s;
  font-size: medium;
}

@media screen and (max-width: 550px) {
  .input-row {
    flex-direction: column;
  }
}
@keyframes rotateColor {
  0% {
    /* filter: hue-rotate(0deg); */
  }
  100% {
    /* filter: hue-rotate(360deg); */
  }
}
