/* .container {
  width: 100%;

  background: linear-gradient(
    to bottom,
    var(--background),
    var(--background_dark)
  );
} */
/* z-index: 0; */

.container {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: translate(-50%, 0);

    background: linear-gradient(
          to right,
          var(--background_dark),
          var(--background),
          var(--background_dark)
        )
        padding-box,
      radial-gradient(var(--primary) 60%, var(--secondary_dark)) border-box;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}
