.container {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, 0);

    background:
      radial-gradient(var(--background_dark), var(--background_dark))
        padding-box,
      radial-gradient(var(--primary) 60%, var(--secondary_dark)) border-box;
    border-top: 1px solid transparent;
  }
}

.img-container {
  position: absolute;
  inset: 0;
  top: 1px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.2);
  }
}
