.social {
  display: flex;
  gap: 16px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  scale: 1.5;
  padding: 2px;
  margin-right: 8px;

  background:
    radial-gradient(var(--background_dark), var(--background_dark)) padding-box,
    conic-gradient(
        var(--primary),
        var(--secondary),
        var(--primary),
        var(--secondary)
      )
      border-box;

  border-radius: 8px;
  border: 1px solid transparent;

  transition: 0.4s;
  &:has(svg:hover) {
    background: var(--text);
  }

  svg {
    transition: 0.5s;
  }
}
