.project {
  aspect-ratio: 1.618;
  border-radius: 12px;
  border: solid 1px rgb(from var(--secondary) r g b / 0.2);
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  & > img {
    margin: auto;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    filter: brightness(0.7);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: transform 0.5s ease-in-out;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.5em 0;
}

@media screen and (min-width: 390px) {
  .project:hover {
    .description {
      margin-top: 0.5em;
      max-height: 35em;
    }
    .see-more {
      animation: opacity 0.8s ease-in-out forwards;
    }
    img {
      transform: scale(1.3);
    }
  }
}

.project:hover:not(:has(.web-buttons > *:hover)) {
  .see-more {
    text-decoration: underline 0.1em rgb(from var(--secondary) r g b / 0.8);
    text-underline-offset: 0.25em;
  }
}

.foreground {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 1em;
  text-align: start;
  background: linear-gradient(
    var(--background_dark),
    rgb(from var(--background) r g b / 0.4)
  );
  backdrop-filter: blur(5px);
}

.description {
  text-align: justify;
  max-height: 0;
  height: 500px;
  transition:
    max-height 0.5s ease-in-out,
    margin-top 0.3s ease-in-out;
  margin-top: 0;
}

.web-buttons {
  display: flex;
  margin-top: 5%;
  gap: 1em;
  width: fit-content;
  text-align: center;
  color: var(--text);

  & button {
    height: min-content;
    font-size: 0.75em;
    padding: 0.5em 1em;
  }

  & > :first-child {
    background: var(--background);
    color: var(--accent);
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 12px var(--accent);
    }
  }
}

.see-more {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 0;
  pointer-events: none;
  opacity: 0;

  & > svg {
    color: rgb(from var(--secondary) r g b / 0.8);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
