.project {
  aspect-ratio: 1.8;
  border-radius: 12px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.571);
  backdrop-filter: blur(5px);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    filter: brightness(0.7);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: transform 0.5s ease-in-out;
  }
}

.project:hover {
  .description {
    margin-top: 0.5em;
    max-height: 35em;
  }
  .see-more {
    animation: opacity 0.8s ease-in-out forwards;
  }
  img {
    transform: scale(1.3);
  }
}

.project:hover:not(:has(.web-buttons > button:hover)) {
  .see-more {
    text-decoration: underline 0.1em var(--accent);
    text-underline-offset: 2px;
  }
}

.foreground {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 1em;
  text-align: start;
  background: linear-gradient(
    rgb(from var(--background3D) r g b / 0.6) 0,
    var(--background3D)
  );
  backdrop-filter: blur(5px);
}

.description {
  text-align: justify;
  max-height: 0;
  height: 500px;
  transition: max-height 0.5s ease-in-out, margin-top 0.3s ease-in-out;
  margin-top: 0;
  position: relative;
}

.web-buttons {
  display: flex;
  margin-top: 1.5em;
  gap: 1em;
  width: fit-content;
  text-align: center;

  & > button {
    font-weight: 600;
    font-size: 0.8em;
    padding: 0.5em 1em;
    &:hover {
      box-shadow: 0 0 12px var(--accent);
    }
  }

  & > button:first-child {
    background: var(--background);
    color: var(--accent);
  }
}

.see-more {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 0;
  pointer-events: none;
  opacity: 0;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
