.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 1000px;
  background-color: var(--background);
  outline: none;
  border-radius: 20px;
  overflow: hidden;
}

.datas {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin: 0.5em 1em;
  color: var(--text2);
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  padding: 0.75em;
  margin-bottom: 2.5em;
  aspect-ratio: 5/2;
  text-align: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.2);
  }

  span {
    font-size: 1.25em;
  }

  &::before {
    content: "";
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: -1;

    width: 100%;
    height: 3em;
    background: radial-gradient(var(--primary) 33%, var(--primary_dark) 50%);
    filter: blur(40px);
    border-radius: 50%;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  margin-top: 1em;
}

.content {
  padding: 0 0.75em;
  text-align: justify;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 20px;
}

.carousel {
  height: 280px;
  background-color: rgb(from var(--background_dark) r g b / 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25em;
  padding: 1.25em 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3em;
    background: radial-gradient(var(--primary) 33%, var(--primary_dark) 69%);
    filter: blur(40px);
    border-radius: 50%;
    pointer-events: none;
  }
}

.leftArrow,
.rightArrow {
  height: 100%;
  padding: 0 0.5em;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.leftArrow {
  border-right: solid 1px var(--secondary_dark);
}
.rightArrow {
  border-left: solid 1px var(--secondary_dark);
}
