.projects {
  display: grid;
  row-gap: 1em;
}
.category-picker {
  display: flex;
  justify-content: center;
  gap: 10px;
  button {
    cursor: pointer;
    border: none;
    background: none;
    width: 10%;
    font-size: 1em;
  }
}

.active-category {
  text-decoration: underline var(--primary) 2px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  gap: 1em;
}
