.projects {
  display: grid;
  place-items: center;
  row-gap: 1em;
}

.category-picker {
  width: 80%;
  height: 2em;
  display: flex;
  background-color: rgb(from var(--background3D) r g b / 0.6);
  border-radius: 1em;
  border: solid 0.1em rgb(from var(--textColor) r g b / 0.4);

  button {
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;

    &:hover {
      box-shadow: 0 0 0.5em 0.1em rgb(from var(--primary) r g b / 0.5);
    }
  }

  & > button:not(:last-child) {
    border-right: solid 0.1em rgb(from var(--textColor) r g b / 0.4);
  }

  & > button:first-child {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  & > button:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

.active-category {
  color: var(--primary);
  font-weight: 500;
  box-shadow: 0 0 0.5em 0.1em rgb(from var(--primary) r g b / 0.5);
}

.cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  object-fit: contain;
  gap: 0.5em;
}

/*Format mobile */
@media screen and (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
