.projects {
  display: grid;
  place-items: center;
}

.category-picker {
  width: 80%;
  display: flex;
  align-items: center;
  background-color: var(--background2);
  border-radius: 8px;
  border: solid 1px var(--text2);
  margin: 2em 0;

  & > button {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    border-radius: 0;

    transition: all 0.2s;

    &:not(.active-category):hover {
      /* box-shadow: 0 0 12px 0px rgb(from var(--accent) r g b / 0.5); */
      background-color: rgb(from var(--background) r g b / 0.7);
    }
  }

  & > button:not(:last-child) {
    border-right: solid 1px var(--text2);
  }

  & > button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  & > button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.active-category {
  background-color: var(--background);
  text-decoration: underline var(--primary);
  text-underline-offset: 0.25em;
}

.cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  object-fit: contain;
  gap: 20px;
}

/*Format mobile */
/* @media screen and (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, 100%);
  }
} */
