.container {
  display: flex;
  justify-content: center;
  min-height: var(--minHeight);
  max-height: calc(100cqh - 4em);
  /* position: relative;
  top: -4em; */
  position: relative;
  &::before {
    content: "";
    background-image: url("./Hero_images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100dvw;
    height: 100%;

    z-index: -1;
  }
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

/*Format mobile */
@media screen and (max-width: 600px) {
  .hero-section {
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding-top: 4em;
  }

  .hero-section button {
    padding: 0;
  }

  .container {
    min-height: var(--minHeightMobile);
  }
}
