.container {
  display: flex;
  justify-content: center;
  min-height: calc(25cqh + 4em);
  max-height: 100cqh;
  overflow: hidden;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Format mobile */
@media screen and (max-width: 600px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    /* min-height: calc(650px + 4em); */

    padding: 0;
    padding-top: 4em;
  }

  .hero-section button {
    padding: 0;
  }
}
