.container {
  display: flex;
  justify-content: center;
  min-height: var(--minHeight);
  max-height: calc(100cqh - 4em);
  /* position: relative;
  top: -4em; */
  overflow: hidden;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Format mobile */
@media screen and (max-width: 600px) {
  .hero-section {
    flex-direction: column;
    justify-content: start;
    text-align: center;

    /* padding: 0; */
    /* padding-top: 4em; */
  }

  .hero-section button {
    padding: 0;
  }

  .container {
    min-height: var(--minHeightMobile);
    padding-top: 4em;
  }
}
