@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: var(--text);

  font-weight: 400;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background: radial-gradient(var(--background) 30%, var(--background_dark));
}

.text-accent {
  color: var(--accent);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
