:root {
  color-scheme: light dark;
  color: var(--text);

  font-weight: 400;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.text-accent {
  color: var(--accent);
}

/* Format Ordinateur */
/* @media screen and (min-width: 1200px) {
  & > * {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  & > * {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1000px) {
  & > * {
    font-size: 0.8rem;
  }
} */

/* Format Tablette */
/* @media screen and (max-width: 768px) {
  & > * {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  & > * {
    font-size: 0.6rem;
  }
} */

/* Format Mobile */
/* @media screen and (max-width: 375px) {
  & > * {
    font-size: 0.5rem;
  }
} */
