:root {
  font-optical-sizing: auto;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--textColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

body,
button {
  font-family: "Montserrat Alternates", sans-serif;
}

.text-primary {
  color: var(--primary);
}

h1 {
  font-size: 1.96em;
}
