.main-project {
  display: block;
  padding: 2% 3%;
  max-width: 1300px;
}

.container {
  display: flex;
  gap: 15%;
  padding-left: 5%;

  img {
    width: 20%;
    max-width: 300px;
    min-width: 50px;
    object-fit: contain;
  }
}

.presentation {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  width: 100%;
}
