.main-project {
  padding: 0% 3%;
  min-width: 20em;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding-left: 3%;
  border-top: solid 2px var(--secondary);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  img {
    width: 100%;
    max-height: 15em;
    object-fit: contain;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1.5;
  gap: 10%;
}

.name_and_technologies {
  display: flex;
  justify-content: space-between;
}

.technologies {
  display: flex;
  justify-content: space-evenly;

  background-color: var(--secondary);
  border-bottom-left-radius: 100px;
  flex: 1;

  img {
    width: 5%;
    object-fit: contain;
  }
}

.buttons {
  display: flex;
  width: 100%;
  gap: 10%;
}
