.presentation {
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200%;
  height: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* &::before,
  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 30%;
    height: 100%;
    background-color: var(--accent);
  }
  &::after {
    right: 0;
    left: auto;
  } */
  & > div {
    z-index: 1;
    width: 40%;
    padding: 1em;
    backdrop-filter: blur(2px);
    border-radius: 1em;
    /* border: solid 0.1em var(--accent); */
    background-color: rgb(from var(--secondary) r g b / 0.1);
    box-shadow: var(--accent) 0 0 5em 0em;
    text-align: justify;
  }
}
