.technologies {
  display: flex;

  align-items: center;
  overflow-x: auto;
  gap: 0.5em;

  &::-webkit-scrollbar {
    scrollbar-width: 10px;
  }

  & > div {
    padding: 0.5em 0.75em;

    background:
      linear-gradient(var(--background_dark), var(--background_dark))
        padding-box,
      conic-gradient(
          from -80deg,
          var(--background_dark) 25deg,
          var(--primary_dark) 40deg,
          var(--primary) 160deg,
          var(--primary_dark) 180deg,

          var(--background_dark) 205deg,
          var(--primary_dark) 220deg,
          var(--primary) 340deg,
          var(--primary_dark) 360deg
        )
        border-box;
    border-radius: 8px;
    border: 1px solid transparent;
  }
}

/* @media screen and (max-width: 750px) {
  .technologies {
    margin-bottom: 2em;
  }
} */

.technologies-wrap {
  flex-wrap: wrap;
  justify-content: center;
}
